.container {
  max-width: 600px;
  max-height: 100vh;
}

.list {
  max-height: 464px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  overflow-y: scroll;
}

.item {
  margin-right: 8px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
