.header {
  height: 88px;
  padding: 40px 0;
  background-color: #1c1c21;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  align-self: center;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  color: #f2f2f3;
  text-decoration: none;
}

.link.active {
  color: #8585ad;
}

.user {
  padding: 16px 20px;
}
